body {
    font-family: 'Roboto' !important;
}

.has-text-semibold {
    font-weight: 700 !important;
}

#image-clear_id, #image-clear_id + label {
    display: none !important;
}

#id_image {
    display: none !important;
}

.is-horizontal {
    display: flex !important;
}

.markdownx-preview {
    margin-top: 1rem;
    padding-top: 0.85rem;
    border-top: 2px solid #f5f5f5;
}

.centered-v {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}