{% if messages %}
<article class="message is-success">
    {% for message in messages %}
    <div {% if message.tags %} class="message-body {{ message.tags }}"{% endif %}>
        <div class="columns is-mobile">
            <div class="column is-half">
                {{ message }}
            </div>
            <div class="column is-half has-text-right">
                <button class="delete" aria-label="delete"></button>
            </div>
        </div>
    </div>
    {% endfor %}
</article>
{% endif %}