{% extends 'base.html' %}

{% block content %}
<div class="hero is-fullheight">
    <div class="hero-head">
        {% include 'messages_display.html' %}
    </div>
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title has-text-centered">{{ title }}</h1>
                <div class="columns is-mobile is-centered">
                    <div class="column is-2-desktop is-2-mobile">
                        <a href="{% url 'posts:create' %}" class="button is-info is-size-6-mobile">+</a>
                    </div>
                    <div class="column is-6-desktop is-10-mobile">
                        <form method="GET" action="">
                            <div class="field has-addons has-addons-right">
                                <div class="control is-expanded-mobile">
                                    <input name="q" class="input" type="text" placeholder="Search posts.." value="{{ request.GET.q }}">
                                </div>
                                <div class="control">
                                    <input type="submit" class="button is-info" value="Search">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="columns is-centered is-multiline">
                {% for obj in object_list %}
                <div class="column is-4-desktop is-6-tablet">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                            </p>
                            {% if obj.draft %}
                            <span class="card-header-icon">
                                <div class="tags has-addons">
                                    <span class="tag is-danger">Draft</span>
                                    {% if obj.publish > today %}
                                    <span class="tag">Future Post</span>
                                    {% endif %}
                                </div>
                            </span>
                            {% endif %}
                        </header>
                        {% if obj.image %}
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{ obj.image.url }}">
                            </figure>
                        </div>
                        {% endif %}
                        <div class="card-content">
                            <p>
                                {{ obj.content|safe|truncatechars:20 }} 
                            </p>
                            <div class="columns is-mobile">
                                <div class="column is-half-desktop is-5-mobile centered-v">
                                    <time class="is-size-7">{{ obj.publish }}</time>
                                </div>
                                <div class="column is-half-desktop is-7-mobile has-text-right centered-v">
                                    {% if obj.user.get_full_name %}
                                    <p class="is-size-7">
                                        By {{ obj.user.get_full_name }}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="columns is-centered">
                <div class="column is-8-desktop is-12-tablet">
                    <nav class="pagination" role="navigation" aria-label="pagination">
                            {% if object_list.has_previous %}
                                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-previous">Previous</a>
                            {% endif %}
            
                            <ul class="pagination-list">
                                <li>
                                    <a class="pagination-link is-current">
                                        {{ object_list.number }}
                                        of
                                        {{ object_list.paginator.num_pages}}
                                    </a>
                                </li>
                            </ul>
            
                            {% if object_list.has_next %}
                                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="pagination-next">Next</a>
                            {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}