{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <h1 class="title has-text-centered">Create Post</h1>
                    <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                        <div class="field">
                            <label for="id_title" class="label" >Title</label>
                            <div class="control">
                                {{ form.title|add_class:'input' }}
                            </div>
                        </div>
                        <div class="field">
                            <label for="id_content" class="label">Content</label>
                                {{ form.content|add_class:'textarea' }}
                        </div>
                        <hr>
                        {{ form.image }}
                        <div class="file">
                            <label class="file-label">
                                <input id="id_image" type="file" name="image" class="file-input" accept="image/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Upload Image..
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="field" style="margin-top: 10px;">
                            <label for="id_draft" class="label checkbox">
                                Draft
                                {{ form.draft }}
                            </label>
                        </div>
                        <div class="field is-horizontal">
                            <label for="id_publish" class="label" style="margin-right: 10px;">Publish</label>
                            <div class="select is-small is-horizontal">
                                {{ form.publish }}
                            </div>
                        </div>
                        <input class="button is-info" type="submit" value="Create Post" style="margin-top: 10px;" />
                    </form>
                    {{ form.media }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}