{% extends 'base.html' %}
{% load urlify %}

{% block head_title %}
{{ block.super }} | {{ instance.title }}
{% endblock head_title %}
{% block content %}

<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'messages_display.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-4">
                    <a href="{% url 'posts:list' %}" class="button">Back to Posts</a>
                </div>
                <div class="column is-4 has-text-right">
                    <div class="buttons is-right">
                        <a href="{% url 'posts:edit' instance.slug %}" class="button">Edit</a>
                        <a href="{% url 'posts:delete' instance.slug %}" class="button is-danger">Delete</a>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-8">
                    <h1 class="is-size-3 has-text-black  has-text-semibold">
                        {{ title }}
                        {% if instance.draft %}
                        <sup>
                            <span class="tags has-addons">
                                <span class="tag is-danger">Draft</span>
                                {% if instance.publish > today %}
                                    <span class="tag">Future Post</span>
                                {% endif %}
                            </span>
                        </sup>
                        {% endif %}
                    </h1>
                    <h1 class="is-size-6" style="margin-top: 8px;"> {{ instance.publish }}</h1>
                    {% if instance.user.get_full_name %}
                    <p class="is-size-7" style="margin-bottom: 10px;">Author: {{ instance.user.get_full_name }}</p>
                    {% endif %}
                    {% if instance.image %}
                    <figure class="image is-16by9">
                        <img src="{{ instance.image.url }}" />
                    </figure>
                    {% endif %}
                    <div class="content">
                        {{ instance.formatted_markdown|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}